.MainContent{
	list-style: none;
	margin: 100px 50px 100px 50px;
	border-radius:20px;
	padding: 50px;
	overflow: hidden;
	min-height:768px;
}
footer{
	color:white;
	background-color: #044687;
	width: 100%;
	padding: 10px 0 10px 0;
	font-weight: bold;
}
footer a{
	color:white;
	text-decoration: underline;
	background-color: #044687;
	font-weight: normal;
}
.table{
	margin-top:10px;
	float:left;
}
.table th{
	text-align: center;
	background-color: #d44413;
	color:white;
}

.table td{
	text-align: center;
}
h3,legend{
	color: #d44413;
}
.Agregar{
	float:right;
}
.view{
	font-size:18px;
}
.view span{
	color: #d44413;
	font-weight: bold;
}